/* ---------- About Us Section ---------- */
.about-us-section {
    background: url("../about-bg\ \(3\).jpg") center/cover no-repeat;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
  }
  
  /* Glass effect container */
  .about-container {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 35px;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
    
  }
  
  
  /* Image Styling */
  .image-wrapper img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .image-wrapper img:hover {
    transform: scale(1.08);
    opacity: 0.9;
  }
  .right-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
  }
  .service-list{
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    }
  
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-text {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .service-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .custom-btn {
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: #00417d;;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .custom-btn:hover {
    background: white;
    color: #00417d;;
  }
  
  /* Responsive */
  @media (max-width: 992px) {
    .about-container {
      text-align: center;
      padding: 30px;
      display: flex;
      flex-direction: column;
    }
  
  
    .custom-btn {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
    
    .service-list{
      display: flex;
      flex-direction: column;
      text-align: left;
      }
  }
  
  @media (max-width: 600px) {
    .about-us-section {
        height: auto;
        padding: 20px 10px;
      }

    .about-container {
    border-radius: 12px;
    padding: 10px;
    }
    .about-title {
      font-size: 1.8rem;
      height: 40px;
      padding-bottom: 20px;
      padding-top: 0;
    }
    .service-title{
      font-size: 1.8rem;
    }
  
    .about-text {
      font-size: 0.95rem;
    }
    .service-list{
    display: flex;
    flex-direction: column;
    text-align: left;
    }
  
    .custom-btn {
      font-size: 0.85rem;
      padding: 8px 18px;
    }
  }
  