/* ---------- Header Styles ---------- */
.custom-header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 8px 0;
    transition: 0.4s ease-in-out;
    z-index: 1000;
    background: transparent; /* Transparent initially */
    
  }
  
  /* Add blurred background when scrolled */ 
  .custom-header.scrolled {
    background: rgba(255, 255, 255, 0.1); /* Light transparency */ 
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
    color: #003e8a;
  }
  
  /* Logo */
  .logo-img {
    height: 50px;
    border: 1px solid #003e8a;
    border-radius: 100%;
    background-color:rgb(255, 255, 255) ;
    padding: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .logo-img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  
  /* Navigation Links */
  .nav-links {
    display: none;  
  }
    .nav-links .item {
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 5px ;
  }
  
  .nav-links .item:hover {
    color: #072b7e;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .scrolled .item{
    color: #003e8a;
    background-color: rgba(239, 239, 239, 0.9);
  }

  .scrolled .item:hover {
    background-color: #072b7e;
    color: #ffffff;
  }

  /* Show menu when active  */
  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(116, 116, 116);
    border-radius: 10px;
    padding: 15px;
  }
  .nav-links.active .item{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    background: #010f2f;
  }
  .nav-links.active .btn{
    margin-top: 10px;
  }
  

  /* menu icon */
  .menu-icon {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem; /* Adjust size */
    color: white; 
    transition: color 0.3s ease-in-out;
  }
  .navbar{
    padding: 10px 20px;
    width: 100%;
  }
  
  /* Desktop Menu */
  @media (min-width: 992px) {
    .navbar{
      padding: 5px 40px;
    }
    .nav-links {
      display: flex !important;
      gap: 30px;
    } 
    .menu-icon {
      display: none;
    }
    .nav-links a:hover {
      color: hsl(197, 100%, 28%);
    }
  } 

  @media (max-width: 380px){
    .navbar{
      padding: 5px 0;
      
    }
    .logo-img{
      height: 55px;
    }

  }

  @media (max-width: 480px){
    .logo-img{
      height: 40px;
    }
    
  }

  
  
  
  