@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #00417d;
  --greyDark: #7d8792;
  --headingColor: #2d2e2e;
  --white: #fff;
  --black: #000;
  --sliver: #bac8d3;
}
html,body {
  background-color: var(--primaryBackground);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  transition: 0.5s;
}

p {
  
  font-size: 15px;
  line-height: 30px;
  margin: 20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.container {
  max-width: 80%;
  margin: auto;
}


section{
  height: 80vh;
  display: flex;
  align-items: center;
}
.heading{
  color: var(--white);
  font-family: 'Playfair Display', serif;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0;
}

/* Button */
.custom-btn {
  display: inline-block;
  padding: 12px 25px;
  color: white;
  background: linear-gradient(45deg, #003e8a, #005bb5);
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;
}
.custom-btn:hover {
  background: white;
  color: var(--primaryColor);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}


















